@font-face {
    font-family: "DM_sans";
    src: url(../font/DMSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url(../font/Lato-Regular.ttf) format("truetype");
}



$input-focus-box-shadow:none;

